[data-asset-chat-background-dark] {
    background-image: url(/img/bg-chat-tile-light_04fcacde539c58cca6745483d4858c52.png) !important;
    opacity: 0.06 !important;
}

:root {
    --layer-0: -1 !important;
    --layer-1: 100 !important;
    --layer-2: 200 !important;
    --layer-3: 300 !important;
    --layer-4: 400 !important;
    --layer-5: 500 !important;
    --layer-6: 600 !important;
    --layer-7: 700 !important;
    --layer-8: 800 !important;
    --layer-9: 900 !important;
    --layer-10: 1000 !important;
    --radius-thumb: 6px !important;
    --font-family-monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, Courier, monospace !important;
    --chat-spacing: 15px !important;
    --sticker-size-store: 72px !important;
    --sticker-size-details: 256px !important;
    --t-ease: cubic-bezier(0.1, 0.82, 0.25, 1) !important;
    --radius-app: 3px !important;
    --h-pane-header: 59px !important;
    --blur-radius-thumbnail: 8px !important;
    --padding-psa-message: 22px !important;
    --padding-drawer-bottom: 32px !important;
    --sticker-size-panel: 100px !important;
    --compose-box-menu-item-width: 26px !important;
    --compose-box-menu-height: 52px !important;
    --compose-box-top-bottom-padding: 5px !important;
    --compose-box-left-right-padding: 10px !important;
    --compose-box-open-menu-width: 110px !important;
    --compose-box-full-open-menu-width: 152px !important;
    --compose-box-menu-item-spacing: 16px !important;
    --compose-box-menu-width-status-reply: 68px !important;
    --compose-box-open-menu-width-status-reply: 110px !important;
    --width-vcard-bubble: 336px !important;
    --beige: #e5ddd5 !important;
    --beige-rgb: 229, 221, 213 !important;
    --black: #000 !important;
    --black-rgb: 0, 0, 0 !important;
    --blue-light: #00a5f4 !important;
    --blue-light-rgb: 0, 165, 244 !important;
    --blue-ocean: #aadaff !important;
    --blue-ocean-rgb: 170, 218, 255 !important;
    --blue-sky: #9de1fe !important;
    --blue-sky-rgb: 157, 225, 254 !important;
    --blue: #039be5 !important;
    --blue-rgb: 3, 155, 229 !important;
    --dark: #263238 !important;
    --dark-rgb: 38, 50, 56 !important;
    --green-deep: #1b9a59 !important;
    --green-deep-rgb: 27, 154, 89 !important;
    --green: #07bc4c !important;
    --green-rgb: 7, 188, 76 !important;
    --green-accent: #20c659 !important;
    --green-accent-rgb: 32, 198, 89 !important;
    --orange: #ffad20 !important;
    --orange-rgb: 255, 173, 32 !important;
    --pale-blue-green: #ecfaf5 !important;
    --pale-blue-green-rgb: 236, 250, 245 !important;
    --pale-green: #dcf8c6 !important;
    --pale-green-rgb: 220, 248, 198 !important;
    --pale-yellow: #fff5c4 !important;
    --pale-yellow-rgb: 255, 245, 196 !important;
    --red-light: #f44336 !important;
    --red-light-rgb: 244, 67, 54 !important;
    --red: #d70000 !important;
    --red-rgb: 215, 0, 0 !important;
    --teal-light: #1de9b6 !important;
    --teal-light-rgb: 29, 233, 182 !important;
    --teal-lighter: #00bfa5 !important;
    --teal-lighter-rgb: 0, 191, 165 !important;
    --teal: #009688 !important;
    --teal-rgb: 0, 150, 136 !important;
    --white: #fff !important;
    --white-rgb: 255, 255, 255 !important;
    --yellow: #fed859 !important;
    --yellow-rgb: 254, 216, 89 !important;
    --gray-30: #f7f7f7 !important;
    --gray-30-rgb: 247, 247, 247 !important;
    --gray-60: #f0f0f0 !important;
    --gray-60-rgb: 240, 240, 240 !important;
    --gray-70: #ededed !important;
    --gray-70-rgb: 237, 237, 237 !important;
    --gray-100: #e6e6e6 !important;
    --gray-100-rgb: 230, 230, 230 !important;
    --gray-150: #d9d9d9 !important;
    --gray-150-rgb: 217, 217, 217 !important;
    --gray-200: #ccc !important;
    --gray-200-rgb: 204, 204, 204 !important;
    --gray-300: #b3b3b3 !important;
    --gray-300-rgb: 179, 179, 179 !important;
    --gray-400: #999 !important;
    --gray-400-rgb: 153, 153, 153 !important;
    --gray-500: grey !important;
    --gray-500-rgb: 128, 128, 128 !important;
    --gray-600: #666 !important;
    --gray-600-rgb: 102, 102, 102 !important;
    --gray-700: #4a4a4a !important;
    --gray-700-rgb: 74, 74, 74 !important;
    --gray-800: #303030 !important;
    --gray-800-rgb: 48, 48, 48 !important;
    --gray-850: #262626 !important;
    --gray-850-rgb: 38, 38, 38 !important;
    --gray-900: #1a1a1a !important;
    --gray-900-rgb: 26, 26, 26 !important;
    --active-tab-marker: #009688 !important;
    --active-tab-marker-rgb: 0, 150, 136 !important;
    --app-background: #dddbd1 !important;
    --app-background-rgb: 221, 219, 209 !important;
    --app-background-deeper: #d2dbdc !important;
    --app-background-deeper-rgb: 210, 219, 220 !important;
    --app-background-stripe: #009688 !important;
    --app-background-stripe-rgb: 0, 150, 136 !important;
    --attach-media-drop-border: rgba(0, 0, 0, 0.3) !important;
    --attach-media-drop-border-rgb: 0, 0, 0 !important;
    --attach-media-drop-overlay: hsla(0, 0%, 100%, 0.6) !important;
    --attach-media-drop-overlay-rgb: 255, 255, 255 !important;
    --audio-control-incoming: #a2a2a2 !important;
    --audio-control-incoming-rgb: 162, 162, 162 !important;
    --audio-control-outgoing: #6f8171 !important;
    --audio-control-outgoing-rgb: 111, 129, 113 !important;
    --audio-progress-incoming: #31c76a !important;
    --audio-progress-incoming-rgb: 49, 199, 106 !important;
    --audio-progress-outgoing: #889a7b !important;
    --audio-progress-outgoing-rgb: 136, 154, 123 !important;
    --audio-progress-played-incoming: #30b6f6 !important;
    --audio-progress-played-incoming-rgb: 48, 182, 246 !important;
    --audio-progress-played-outgoing: #2ab5eb !important;
    --audio-progress-played-outgoing-rgb: 42, 181, 235 !important;
    --audio-progress-metadata: rgba(0, 0, 0, 0.45) !important;
    --audio-progress-metadata-rgb: 0, 0, 0 !important;
    --audio-track-incoming: #e6e6e6 !important;
    --audio-track-incoming-rgb: 230, 230, 230 !important;
    --audio-track-outgoing: #c6dfb2 !important;
    --audio-track-outgoing-rgb: 198, 223, 178 !important;
    --avatar-background: #e6e6e6 !important;
    --avatar-background-rgb: 230, 230, 230 !important;
    --avatar-border: #fff !important;
    --avatar-border-rgb: 255, 255, 255 !important;
    --avatar-placeholder-background: #dfe5e7 !important;
    --avatar-placeholder-background-rgb: 223, 229, 231 !important;
    --avatar-placeholder-primary: #fff !important;
    --avatar-placeholder-primary-rgb: 255, 255, 255 !important;
    --archived-chat-marker: #999 !important;
    --archived-chat-marker-rgb: 153, 153, 153 !important;
    --archived-chat-marker-border: rgba(91, 202, 255, 0.1) !important;
    --archived-chat-marker-border-rgb: 91, 202, 255 !important;
    --archived-chat-marker-background: transparent !important;
    --archived-chat-marker-background-rgb: 0, 0, 0 !important;
    --background-default: #fff !important;
    --background-default-rgb: 255, 255, 255 !important;
    --background-default-active: #ebebeb !important;
    --background-default-active-rgb: 235, 235, 235 !important;
    --background-default-hover: #f5f5f5 !important;
    --background-default-hover-rgb: 245, 245, 245 !important;
    --badge-icon: #fff !important;
    --badge-icon-rgb: 255, 255, 255 !important;
    --badge-pending: #00bfa5 !important;
    --badge-pending-rgb: 0, 191, 165 !important;
    --border-bubble: rgba(0, 0, 0, 0.06) !important;
    --border-bubble-rgb: 0, 0, 0 !important;
    --border-deeper: rgba(0, 0, 0, 0.03) !important;
    --border-deeper-rgb: 0, 0, 0 !important;
    --border-default: #f0f0f0 !important;
    --border-default-rgb: 240, 240, 240 !important;
    --border-list: #f2f2f2 !important;
    --border-list-rgb: 242, 242, 242 !important;
    --border-panel: rgba(0, 0, 0, 0.05) !important;
    --border-panel-rgb: 0, 0, 0 !important;
    --border-strong: #d9d9d9 !important;
    --border-strong-rgb: 217, 217, 217 !important;
    --border-stronger: rgba(0, 0, 0, 0.08) !important;
    --border-stronger-rgb: 0, 0, 0 !important;
    --bubble-meta: rgba(0, 0, 0, 0.45) !important;
    --bubble-meta-rgb: 0, 0, 0 !important;
    --bubble-meta-icon: rgba(0, 0, 0, 0.3) !important;
    --bubble-meta-icon-rgb: 0, 0, 0 !important;
    --business-name-title: #262626 !important;
    --business-name-title-rgb: 38, 38, 38 !important;
    --business-name-subtitle: #b3b3b3 !important;
    --business-name-subtitle-rgb: 179, 179, 179 !important;
    --butterbar-battery-background: #f9685d !important;
    --butterbar-battery-background-rgb: 249, 104, 93 !important;
    --butterbar-battery-icon: hsla(0, 0%, 100%, 0.9) !important;
    --butterbar-battery-icon-rgb: 255, 255, 255 !important;
    --butterbar-battery-primary: #fff !important;
    --butterbar-battery-primary-rgb: 255, 255, 255 !important;
    --butterbar-battery-secondary: #fff !important;
    --butterbar-battery-secondary-rgb: 255, 255, 255 !important;
    --butterbar-connection-background: #fed859 !important;
    --butterbar-connection-background-rgb: 254, 216, 89 !important;
    --butterbar-connection-primary: rgba(48, 48, 48, 0.96) !important;
    --butterbar-connection-primary-rgb: 48, 48, 48 !important;
    --butterbar-connection-secondary: rgba(48, 48, 48, 0.85) !important;
    --butterbar-connection-secondary-rgb: 48, 48, 48 !important;
    --butterbar-connection-icon: hsla(0, 0%, 100%, 0.9) !important;
    --butterbar-connection-icon-rgb: 255, 255, 255 !important;
    --butterbar-phone-icon-shape: #ffbc00 !important;
    --butterbar-phone-icon-shape-rgb: 255, 188, 0 !important;
    --butterbar-default-background: #9de1fe !important;
    --butterbar-default-background-rgb: 157, 225, 254 !important;
    --butterbar-fatal-background: #fed859 !important;
    --butterbar-fatal-background-rgb: 254, 216, 89 !important;
    --butterbar-fatal-primary: rgba(48, 48, 48, 0.96) !important;
    --butterbar-fatal-primary-rgb: 48, 48, 48 !important;
    --butterbar-fatal-secondary: rgba(48, 48, 48, 0.75) !important;
    --butterbar-fatal-secondary-rgb: 48, 48, 48 !important;
    --butterbar-fatal-icon: hsla(0, 0%, 100%, 0.9) !important;
    --butterbar-fatal-icon-rgb: 255, 255, 255 !important;
    --butterbar-icon: hsla(0, 0%, 100%, 0.9) !important;
    --butterbar-icon-rgb: 255, 255, 255 !important;
    --butterbar-icon-dismiss: #fff !important;
    --butterbar-icon-dismiss-rgb: 255, 255, 255 !important;
    --butterbar-notice-background: #e2f2ef !important;
    --butterbar-notice-background-rgb: 226, 242, 239 !important;
    --butterbar-notice-circle: #fff !important;
    --butterbar-notice-circle-rgb: 255, 255, 255 !important;
    --butterbar-notice-icon: #6fb9b0 !important;
    --butterbar-notice-icon-rgb: 111, 185, 176 !important;
    --butterbar-notice-smb-background: #d8e9f2 !important;
    --butterbar-notice-smb-background-rgb: 216, 233, 242 !important;
    --butterbar-notice-smb-circle: #fff !important;
    --butterbar-notice-smb-circle-rgb: 255, 255, 255 !important;
    --butterbar-notice-smb-icon: #3a5564 !important;
    --butterbar-notice-smb-icon-rgb: 58, 85, 100 !important;
    --butterbar-notification-icon: hsla(0, 0%, 100%, 0.9) !important;
    --butterbar-notification-icon-rgb: 255, 255, 255 !important;
    --butterbar-primary: rgba(48, 48, 48, 0.96) !important;
    --butterbar-primary-rgb: 48, 48, 48 !important;
    --butterbar-secondary: rgba(48, 48, 48, 0.85) !important;
    --butterbar-secondary-rgb: 48, 48, 48 !important;
    --butterbar-update-background: #1de9b6 !important;
    --butterbar-update-background-rgb: 29, 233, 182 !important;
    --butterbar-update-icon: hsla(0, 0%, 100%, 0.9) !important;
    --butterbar-update-icon-rgb: 255, 255, 255 !important;
    --butterbar-green-nux-primary: rgba(48, 48, 48, 0.96) !important;
    --butterbar-green-nux-primary-rgb: 48, 48, 48 !important;
    --butterbar-green-nux-secondary: rgba(48, 48, 48, 0.7) !important;
    --butterbar-green-nux-secondary-rgb: 48, 48, 48 !important;
    --butterbar-green-nux-background: #bbe4dd !important;
    --butterbar-green-nux-background-rgb: 187, 228, 221 !important;
    --butterbar-green-nux-icon: #316474 !important;
    --butterbar-green-nux-icon-rgb: 49, 100, 116 !important;
    --butterbar-green-nux-icon-background: #eefefa !important;
    --butterbar-green-nux-icon-background-rgb: 238, 254, 250 !important;
    --butterbar-green-nux-icon-dismiss: #88a6a1 !important;
    --butterbar-green-nux-icon-dismiss-rgb: 136, 166, 161 !important;
    --butterbar-blue-nux-primary: rgba(48, 48, 48, 0.96) !important;
    --butterbar-blue-nux-primary-rgb: 48, 48, 48 !important;
    --butterbar-blue-nux-secondary: rgba(48, 48, 48, 0.7) !important;
    --butterbar-blue-nux-secondary-rgb: 48, 48, 48 !important;
    --butterbar-blue-nux-background: #e2f3fc !important;
    --butterbar-blue-nux-background-rgb: 226, 243, 252 !important;
    --butterbar-blue-nux-icon: #86a3b3 !important;
    --butterbar-blue-nux-icon-rgb: 134, 163, 179 !important;
    --butterbar-blue-nux-icon-background: #fff !important;
    --butterbar-blue-nux-icon-background-rgb: 255, 255, 255 !important;
    --butterbar-blue-nux-icon-dismiss: rgba(48, 48, 48, 0.4) !important;
    --butterbar-blue-nux-icon-dismiss-rgb: 48, 48, 48 !important;
    --butterbar-md-opt-in-awareness-circle: #fff !important;
    --butterbar-md-opt-in-awareness-circle-rgb: 255, 255, 255 !important;
    --butterbar-md-opt-in-awareness-icon-path: #1de9b6 !important;
    --butterbar-md-opt-in-awareness-icon-path-rgb: 29, 233, 182 !important;
    --butterbar-md-opt-in-countdown-circle: #fff !important;
    --butterbar-md-opt-in-countdown-circle-rgb: 255, 255, 255 !important;
    --butterbar-md-opt-in-countdown-icon-path: #fed859 !important;
    --butterbar-md-opt-in-countdown-icon-path-rgb: 254, 216, 89 !important;
    --button-alternative: #00a5f4 !important;
    --button-alternative-rgb: 0, 165, 244 !important;
    --button-alternative-background: #fff !important;
    --button-alternative-background-rgb: 255, 255, 255 !important;
    --button-background-disabled: #e6e6e6 !important;
    --button-background-disabled-rgb: 230, 230, 230 !important;
    --button-bubble: rgba(0, 150, 136, 0.7) !important;
    --button-bubble-rgb: 0, 150, 136 !important;
    --button-plain-background: #fff !important;
    --button-plain-background-rgb: 255, 255, 255 !important;
    --button-plain-background-hover: #fff !important;
    --button-plain-background-hover-rgb: 255, 255, 255 !important;
    --button-plain: #000 !important;
    --button-plain-rgb: 0, 0, 0 !important;
    --button-plain-hover: #000 !important;
    --button-plain-hover-rgb: 0, 0, 0 !important;
    --button-primary: #fff !important;
    --button-primary-rgb: 255, 255, 255 !important;
    --button-primary-background: #0aa545 !important;
    --button-primary-background-rgb: 10, 165, 69 !important;
    --button-primary-background-hover: #0aaa47 !important;
    --button-primary-background-hover-rgb: 10, 170, 71 !important;
    --button-round-background: #09e85e !important;
    --button-round-background-rgb: 9, 232, 94 !important;
    --button-round-background-inverted: #f3f5f6 !important;
    --button-round-background-inverted-rgb: 243, 245, 246 !important;
    --button-round-icon-inverted: #00b39b !important;
    --button-round-icon-inverted-rgb: 0, 179, 155 !important;
    --button-disabled: rgba(0, 0, 0, 0.45) !important;
    --button-disabled-rgb: 0, 0, 0 !important;
    --button-secondary: #0aa545 !important;
    --button-secondary-rgb: 10, 165, 69 !important;
    --button-secondary-border: #f0f0f0 !important;
    --button-secondary-border-rgb: 240, 240, 240 !important;
    --button-secondary-background: #fff !important;
    --button-secondary-background-rgb: 255, 255, 255 !important;
    --button-secondary-background-hover: #fff !important;
    --button-secondary-background-hover-rgb: 255, 255, 255 !important;
    --button-secondary-hover: #0aaa47 !important;
    --button-secondary-hover-rgb: 10, 170, 71 !important;
    --cart-interstitial-background: #fff !important;
    --cart-interstitial-background-rgb: 255, 255, 255 !important;
    --cart-interstitial-icon: #3a5564 !important;
    --cart-interstitial-icon-rgb: 58, 85, 100 !important;
    --chat-marker: #999 !important;
    --chat-marker-rgb: 153, 153, 153 !important;
    --chat-marker-border: rgba(91, 202, 255, 0.1) !important;
    --chat-marker-border-rgb: 91, 202, 255 !important;
    --chat-marker-background: transparent !important;
    --chat-marker-background-rgb: 0, 0, 0 !important;
    --chat-marker-admin: #07bc4c !important;
    --chat-marker-admin-rgb: 7, 188, 76 !important;
    --chat-marker-admin-border: rgba(7, 188, 76, 0.7) !important;
    --chat-marker-admin-border-rgb: 7, 188, 76 !important;
    --chat-meta: rgba(0, 0, 0, 0.45) !important;
    --chat-meta-rgb: 0, 0, 0 !important;
    --chatlist-icon: rgba(0, 0, 0, 0.3) !important;
    --chatlist-icon-rgb: 0, 0, 0 !important;
    --checkbox-background: #009688 !important;
    --checkbox-background-rgb: 0, 150, 136 !important;
    --checkbox-mark: #fff !important;
    --checkbox-mark-rgb: 255, 255, 255 !important;
    --chevron-button-background: rgba(0, 0, 0, 0.35) !important;
    --chevron-button-background-rgb: 0, 0, 0 !important;
    --chip-button-background: #ecfaf5 !important;
    --chip-button-background-rgb: 236, 250, 245 !important;
    --chip-button-foreground: #009688 !important;
    --chip-button-foreground-rgb: 0, 150, 136 !important;
    --compose-input-background: #fff !important;
    --compose-input-background-rgb: 255, 255, 255 !important;
    --compose-input-background-focused: #d4f1ff !important;
    --compose-input-background-focused-rgb: 212, 241, 255 !important;
    --compose-input-border: #fff !important;
    --compose-input-border-rgb: 255, 255, 255 !important;
    --compose-input-border-focused: #ccedfd !important;
    --compose-input-border-focused-rgb: 204, 237, 253 !important;
    --compose-panel-background: #f0f0f0 !important;
    --compose-panel-background-rgb: 240, 240, 240 !important;
    --compose-panel-background-hover: #e6e6e6 !important;
    --compose-panel-background-hover-rgb: 230, 230, 230 !important;
    --compose-primary: #4a4a4a !important;
    --compose-primary-rgb: 74, 74, 74 !important;
    --conversation-panel-background: #e5ddd5 !important;
    --conversation-panel-background-rgb: 229, 221, 213 !important;
    --conversation-panel-border: rgba(0, 0, 0, 0.03) !important;
    --conversation-panel-border-rgb: 0, 0, 0 !important;
    --cover-image-background: #eaf2f5 !important;
    --cover-image-background-rgb: 234, 242, 245 !important;
    --danger: #df3333 !important;
    --danger-rgb: 223, 51, 51 !important;
    --document-meta: rgba(0, 0, 0, 0.45) !important;
    --document-meta-rgb: 0, 0, 0 !important;
    --drawer-background: #ededed !important;
    --drawer-background-rgb: 237, 237, 237 !important;
    --drawer-background-deep: #ededed !important;
    --drawer-background-deep-rgb: 237, 237, 237 !important;
    --drawer-gallery-background: #ededed !important;
    --drawer-gallery-background-rgb: 237, 237, 237 !important;
    --drawer-gallery-background-active: #dadada !important;
    --drawer-gallery-background-active-rgb: 218, 218, 218 !important;
    --drawer-gallery-background-hover: #e4e4e4 !important;
    --drawer-gallery-background-hover-rgb: 228, 228, 228 !important;
    --drawer-header-title: #fff !important;
    --drawer-header-title-rgb: 255, 255, 255 !important;
    --drawer-section-background: #fff !important;
    --drawer-section-background-rgb: 255, 255, 255 !important;
    --dropdown-background: #fff !important;
    --dropdown-background-rgb: 255, 255, 255 !important;
    --dropdown-background-hover: #f5f5f5 !important;
    --dropdown-background-hover-rgb: 245, 245, 245 !important;
    --empty-state-background: #e6e6e6 !important;
    --empty-state-background-rgb: 230, 230, 230 !important;
    --empty-state-icon: #fff !important;
    --empty-state-icon-rgb: 255, 255, 255 !important;
    --ephemeral-nux-bubble: #00bfa5 !important;
    --ephemeral-nux-bubble-rgb: 0, 191, 165 !important;
    --ephemeral-nux-timer: #00bfa5 !important;
    --ephemeral-nux-timer-rgb: 0, 191, 165 !important;
    --focus: #00a5f4 !important;
    --focus-rgb: 0, 165, 244 !important;
    --focus-animation: rgba(0, 165, 244, 0.22) !important;
    --focus-animation-rgb: 0, 165, 244 !important;
    --focus-animation-deeper: rgba(0, 165, 244, 0.3) !important;
    --focus-animation-deeper-rgb: 0, 165, 244 !important;
    --focus-lighter: rgba(0, 165, 244, 0.1) !important;
    --focus-lighter-rgb: 0, 165, 244 !important;
    --forwarded-indicator-text: rgba(0, 0, 0, 0.45) !important;
    --forwarded-indicator-text-rgb: 0, 0, 0 !important;
    --highlight: #009688 !important;
    --highlight-rgb: 0, 150, 136 !important;
    --icon: #51585c !important;
    --icon-rgb: 81, 88, 92 !important;
    --icon-ack: #4fc3f7 !important;
    --icon-ack-rgb: 79, 195, 247 !important;
    --icon-disabled: #9fa3a5 !important;
    --icon-disabled-rgb: 159, 163, 165 !important;
    --icon-fixed: #919191 !important;
    --icon-fixed-rgb: 145, 145, 145 !important;
    --icon-lighter: rgba(0, 0, 0, 0.3) !important;
    --icon-lighter-rgb: 0, 0, 0 !important;
    --icon-strong: #333 !important;
    --icon-strong-rgb: 51, 51, 51 !important;
    --icon-search-back: #33b7f6 !important;
    --icon-search-back-rgb: 51, 183, 246 !important;
    --icon-bright-accent: #20c659 !important;
    --icon-bright-accent-rgb: 32, 198, 89 !important;
    --icon-bright-highlight: #00bfa5 !important;
    --icon-bright-highlight-rgb: 0, 191, 165 !important;
    --icon-pinned: rgba(0, 0, 0, 0.24) !important;
    --icon-pinned-rgb: 0, 0, 0 !important;
    --round-icon-background: #009688 !important;
    --round-icon-background-rgb: 0, 150, 136 !important;
    --incoming-background: #fff !important;
    --incoming-background-rgb: 255, 255, 255 !important;
    --incoming-background-deeper: #f7f7f7 !important;
    --incoming-background-deeper-rgb: 247, 247, 247 !important;
    --incoming-background-highlight: #ccc !important;
    --incoming-background-highlight-rgb: 204, 204, 204 !important;
    --incoming-primary: #989898 !important;
    --incoming-primary-rgb: 152, 152, 152 !important;
    --input-border-active: #00bfa5 !important;
    --input-border-active-rgb: 0, 191, 165 !important;
    --input-border: rgba(0, 0, 0, 0.15) !important;
    --input-border-rgb: 0, 0, 0 !important;
    --input-hover-background: #e9edef !important;
    --input-hover-background-rgb: 233, 237, 239 !important;
    --input-empty-value-placeholder: #00a884 !important;
    --input-empty-value-placeholder-rgb: 0, 168, 132 !important;
    --input-placeholder: #999 !important;
    --input-placeholder-rgb: 153, 153, 153 !important;
    --intro-background: #f8f9fa !important;
    --intro-background-rgb: 248, 249, 250 !important;
    --intro-border: #4adf83 !important;
    --intro-border-rgb: 74, 223, 131 !important;
    --intro-logo: rgba(78, 100, 112, 0.4) !important;
    --intro-logo-rgb: 78, 100, 112 !important;
    --intro-secondary: rgba(0, 0, 0, 0.45) !important;
    --intro-secondary-rgb: 0, 0, 0 !important;
    --inverse: #fff !important;
    --inverse-rgb: 255, 255, 255 !important;
    --label-disabled-text: #ccc !important;
    --label-disabled-text-rgb: 204, 204, 204 !important;
    --labels-icon: rgba(0, 0, 0, 0.4) !important;
    --labels-icon-rgb: 0, 0, 0 !important;
    --link: #039be5 !important;
    --link-rgb: 3, 155, 229 !important;
    --link-alt: #009688 !important;
    --link-alt-rgb: 0, 150, 136 !important;
    --link-preview: rgba(0, 0, 0, 0.87) !important;
    --link-preview-rgb: 0, 0, 0 !important;
    --link-preview-light: rgba(0, 0, 0, 0.3) !important;
    --link-preview-light-rgb: 0, 0, 0 !important;
    --link-preview-lighter: rgba(0, 0, 0, 0.6) !important;
    --link-preview-lighter-rgb: 0, 0, 0 !important;
    --live-location-footer-background: hsla(0, 0%, 100%, 0.9) !important;
    --live-location-footer-background-rgb: 255, 255, 255 !important;
    --live-location-glow: rgba(37, 211, 102, 0.3) !important;
    --live-location-glow-rgb: 37, 211, 102 !important;
    --live-location-glow-stale: rgba(255, 0, 31, 0.3) !important;
    --live-location-glow-stale-rgb: 255, 0, 31 !important;
    --location-cluster-background: #fff !important;
    --location-cluster-background-rgb: 255, 255, 255 !important;
    --map-overlay-background: hsla(0, 0%, 100%, 0.6) !important;
    --map-overlay-background-rgb: 255, 255, 255 !important;
    --map-overlay-foreground: grey !important;
    --map-overlay-foreground-rgb: 128, 128, 128 !important;
    --media-editor-control: #1c313f !important;
    --media-editor-control-rgb: 28, 49, 63 !important;
    --media-editor-image-caption-input-background: #fff !important;
    --media-editor-image-caption-input-background-rgb: 255, 255, 255 !important;
    --media-editor-video-caption-input-background: #f0f0f0 !important;
    --media-editor-video-caption-input-background-rgb: 240, 240, 240 !important;
    --media-editor-icon-color: #51585c !important;
    --media-editor-icon-color-rgb: 81, 88, 92 !important;
    --media-editor-icon-secondary-color: #fff !important;
    --media-editor-icon-secondary-color-rgb: 255, 255, 255 !important;
    --media-editor-thumb-border: #ccc !important;
    --media-editor-thumb-border-rgb: 204, 204, 204 !important;
    --media-editor-thumb-border-active: #00bfa5 !important;
    --media-editor-thumb-border-active-rgb: 0, 191, 165 !important;
    --media-viewer-background: hsla(0, 0%, 100%, 0.96) !important;
    --media-viewer-background-rgb: 255, 255, 255 !important;
    --media-viewer-button-background: #ccc !important;
    --media-viewer-button-background-rgb: 204, 204, 204 !important;
    --media-viewer-button-icon: #fff !important;
    --media-viewer-button-icon-rgb: 255, 255, 255 !important;
    --media-inner-border: rgba(0, 0, 0, 0.1) !important;
    --media-inner-border-rgb: 0, 0, 0 !important;
    --menu-bar-item-background-active: rgba(0, 0, 0, 0.1) !important;
    --menu-bar-item-background-active-rgb: 0, 0, 0 !important;
    --menu-context-sticker-icon: rgba(48, 48, 48, 0.5) !important;
    --menu-context-sticker-icon-rgb: 48, 48, 48 !important;
    --menu-context-sticker-icon-inverse: #fff !important;
    --menu-context-sticker-icon-inverse-rgb: 255, 255, 255 !important;
    --menu-tabs-list-active: #6dea91 !important;
    --menu-tabs-list-active-rgb: 109, 234, 145 !important;
    --mention-at-symbol: rgba(0, 0, 0, 0.45) !important;
    --mention-at-symbol-rgb: 0, 0, 0 !important;
    --message-background-deep: rgba(0, 0, 0, 0.12) !important;
    --message-background-deep-rgb: 0, 0, 0 !important;
    --message-placeholder-icon: rgba(48, 48, 48, 0.3) !important;
    --message-placeholder-icon-rgb: 48, 48, 48 !important;
    --message-primary: #303030 !important;
    --message-primary-rgb: 48, 48, 48 !important;
    --message-selection-highlight: rgba(0, 150, 136, 0.08) !important;
    --message-selection-highlight-rgb: 0, 150, 136 !important;
    --modal-backdrop: hsla(0, 0%, 100%, 0.85) !important;
    --modal-backdrop-rgb: 255, 255, 255 !important;
    --modal-backdrop-solid: #ededed !important;
    --modal-backdrop-solid-rgb: 237, 237, 237 !important;
    --modal-background: #fff !important;
    --modal-background-rgb: 255, 255, 255 !important;
    --beta-tag-background: #e6e6e6 !important;
    --beta-tag-background-rgb: 230, 230, 230 !important;
    --notification-biz-background: rgba(236, 250, 245, 0.95) !important;
    --notification-biz-background-rgb: 236, 250, 245 !important;
    --notification-biz-text: rgba(0, 0, 0, 0.96) !important;
    --notification-biz-text-rgb: 0, 0, 0 !important;
    --notification-e2e-background: rgba(255, 245, 196, 0.95) !important;
    --notification-e2e-background-rgb: 255, 245, 196 !important;
    --notification-e2e-icon: rgba(0, 0, 0, 0.45) !important;
    --notification-e2e-icon-rgb: 0, 0, 0 !important;
    --notification-e2e-text: rgba(0, 0, 0, 0.96) !important;
    --notification-e2e-text-rgb: 0, 0, 0 !important;
    --notification-info-icon: rgba(0, 0, 0, 0.45) !important;
    --notification-info-icon-rgb: 0, 0, 0 !important;
    --notification-non-e2e-background: #d5f4f1 !important;
    --notification-non-e2e-background-rgb: 213, 244, 241 !important;
    --notification-non-e2e-text: #526571 !important;
    --notification-non-e2e-text-rgb: 82, 101, 113 !important;
    --notification-text: rgba(0, 0, 0, 0.96) !important;
    --notification-text-rgb: 0, 0, 0 !important;
    --outgoing-background: #dcf8c6 !important;
    --outgoing-background-rgb: 220, 248, 198 !important;
    --outgoing-background-deeper: #d3eebe !important;
    --outgoing-background-deeper-rgb: 211, 238, 190 !important;
    --outgoing-background-highlight: #b3cba1 !important;
    --outgoing-background-highlight-rgb: 179, 203, 161 !important;
    --overlay: #000 !important;
    --overlay-rgb: 0, 0, 0 !important;
    --panel-background: #ededed !important;
    --panel-background-rgb: 237, 237, 237 !important;
    --panel-background-active: #dadada !important;
    --panel-background-active-rgb: 218, 218, 218 !important;
    --panel-background-colored: #00bfa5 !important;
    --panel-background-colored-rgb: 0, 191, 165 !important;
    --panel-background-colored-deeper: #009688 !important;
    --panel-background-colored-deeper-rgb: 0, 150, 136 !important;
    --panel-background-deep: #d9d9d9 !important;
    --panel-background-deep-rgb: 217, 217, 217 !important;
    --panel-background-deeper: #e6e6e6 !important;
    --panel-background-deeper-rgb: 230, 230, 230 !important;
    --panel-background-hover: #e4e4e4 !important;
    --panel-background-hover-rgb: 228, 228, 228 !important;
    --panel-background-lighter: #f7f7f7 !important;
    --panel-background-lighter-rgb: 247, 247, 247 !important;
    --panel-header-background: #ededed !important;
    --panel-header-background-rgb: 237, 237, 237 !important;
    --panel-header-icon: #51585c !important;
    --panel-header-icon-rgb: 81, 88, 92 !important;
    --conversation-header-border: rgba(0, 0, 0, 0.08) !important;
    --conversation-header-border-rgb: 0, 0, 0 !important;
    --panel-input-background: #e6e6e6 !important;
    --panel-input-background-rgb: 230, 230, 230 !important;
    --panel-primary: rgba(0, 0, 0, 0.35) !important;
    --panel-primary-rgb: 0, 0, 0 !important;
    --payment-amount: #008c7f !important;
    --payment-amount-rgb: 0, 140, 127 !important;
    --payment-status-failed: #f44336 !important;
    --payment-status-failed-rgb: 244, 67, 54 !important;
    --payment-status-pending: rgba(0, 0, 0, 0.45) !important;
    --payment-status-pending-rgb: 0, 0, 0 !important;
    --payment-status-success: #07bc4c !important;
    --payment-status-success-rgb: 7, 188, 76 !important;
    --photopicker-overlay-background: hsla(0, 0%, 40%, 0.8) !important;
    --photopicker-overlay-background-rgb: 102, 102, 102 !important;
    --picker-background: #f0f0f0 !important;
    --picker-background-rgb: 240, 240, 240 !important;
    --pip-drag-bar: #fff !important;
    --pip-drag-bar-rgb: 255, 255, 255 !important;
    --pip-player-background: #2a2f32 !important;
    --pip-player-background-rgb: 42, 47, 50 !important;
    --pip-manager-content: rgba(79, 79, 79, 0.85) !important;
    --pip-manager-content-rgb: 79, 79, 79 !important;
    --popup-panel-background: rgba(0, 0, 0, 0.05) !important;
    --popup-panel-background-rgb: 0, 0, 0 !important;
    --primary-muted: grey !important;
    --primary-muted-rgb: 128, 128, 128 !important;
    --primary: #4a4a4a !important;
    --primary-rgb: 74, 74, 74 !important;
    --primary-strong: #000 !important;
    --primary-strong-rgb: 0, 0, 0 !important;
    --primary-stronger: #303030 !important;
    --primary-stronger-rgb: 48, 48, 48 !important;
    --primary-strongest: #000 !important;
    --primary-strongest-rgb: 0, 0, 0 !important;
    --primary-title: #525252 !important;
    --primary-title-rgb: 82, 82, 82 !important;
    --product-image-button-background: rgba(0, 0, 0, 0.35) !important;
    --product-image-button-background-rgb: 0, 0, 0 !important;
    --product-thumb-background: #ededed !important;
    --product-thumb-background-rgb: 237, 237, 237 !important;
    --product-thumb-background-deeper: #d9d9d9 !important;
    --product-thumb-background-deeper-rgb: 217, 217, 217 !important;
    --product-thumb-overlay-background: rgba(0, 0, 0, 0.5) !important;
    --product-thumb-overlay-background-rgb: 0, 0, 0 !important;
    --product-thumb-overlay-text: #fff !important;
    --product-thumb-overlay-text-rgb: 255, 255, 255 !important;
    --product-placeholder-background: #ecf1f3 !important;
    --product-placeholder-background-rgb: 236, 241, 243 !important;
    --progress-background: #e6e6e6 !important;
    --progress-background-rgb: 230, 230, 230 !important;
    --progress-primary: #00d9bb !important;
    --progress-primary-rgb: 0, 217, 187 !important;
    --ptt-blue: #4fc3f7 !important;
    --ptt-blue-rgb: 79, 195, 247 !important;
    --ptt-button-cancel: rgba(229, 57, 53, 0.8) !important;
    --ptt-button-cancel-rgb: 229, 57, 53 !important;
    --ptt-button-send: rgba(9, 210, 97, 0.8) !important;
    --ptt-button-send-rgb: 9, 210, 97 !important;
    --ptt-draft-button-cancel: grey !important;
    --ptt-draft-button-cancel-rgb: 128, 128, 128 !important;
    --ptt-draft-button-cancel-hover: #8a8a8a !important;
    --ptt-draft-button-cancel-hover-rgb: 138, 138, 138 !important;
    --ptt-draft-button-play-pause: grey !important;
    --ptt-draft-button-play-pause-rgb: 128, 128, 128 !important;
    --ptt-draft-button-play-pause-hover: #8a8a8a !important;
    --ptt-draft-button-play-pause-hover-rgb: 138, 138, 138 !important;
    --ptt-draft-button-play-pause-out-of-chat: #fff !important;
    --ptt-draft-button-play-pause-out-of-chat-rgb: 255, 255, 255 !important;
    --ptt-draft-button-play-pause-hover-out-of-chat: #f5f5f5 !important;
    --ptt-draft-button-play-pause-hover-out-of-chat-rgb: 245, 245, 245 !important;
    --ptt-draft-button-stop: #ff3b30 !important;
    --ptt-draft-button-stop-rgb: 255, 59, 48 !important;
    --ptt-draft-button-stop-hover: #ff4e44 !important;
    --ptt-draft-button-stop-hover-rgb: 255, 78, 68 !important;
    --ptt-draft-button-send: #00a884 !important;
    --ptt-draft-button-send-rgb: 0, 168, 132 !important;
    --ptt-draft-button-send-hover: #00bc94 !important;
    --ptt-draft-button-send-hover-rgb: 0, 188, 148 !important;
    --ptt-draft-thumb: #00a884 !important;
    --ptt-draft-thumb-rgb: 0, 168, 132 !important;
    --ptt-thumb-outgoing-unplayed: #6f8171 !important;
    --ptt-thumb-outgoing-unplayed-rgb: 111, 129, 113 !important;
    --ptt-thumb-outgoing-played: #4fc3f7 !important;
    --ptt-thumb-outgoing-played-rgb: 79, 195, 247 !important;
    --ptt-thumb-incoming-unplayed: #09d261 !important;
    --ptt-thumb-incoming-unplayed-rgb: 9, 210, 97 !important;
    --ptt-thumb-incoming-played: #4fc3f7 !important;
    --ptt-thumb-incoming-played-rgb: 79, 195, 247 !important;
    --ptt-draft-waveform-background: #fff !important;
    --ptt-draft-waveform-background-rgb: 255, 255, 255 !important;
    --ptt-draft-waveform-background-border: #f7f7f7 !important;
    --ptt-draft-waveform-background-border-rgb: 247, 247, 247 !important;
    --ptt-ooc-background: #009688 !important;
    --ptt-ooc-background-rgb: 0, 150, 136 !important;
    --ptt-ooc-mic-border-color: #009688 !important;
    --ptt-ooc-mic-border-color-rgb: 0, 150, 136 !important;
    --ptt-ooc-mic-fill-color: #fff !important;
    --ptt-ooc-mic-fill-color-rgb: 255, 255, 255 !important;
    --ptt-ooc-avatar-background: #ffad1f !important;
    --ptt-ooc-avatar-background-rgb: 255, 173, 31 !important;
    --ptt-waveform-preview-unplayed: #ced0d1 !important;
    --ptt-waveform-preview-unplayed-rgb: 206, 208, 209 !important;
    --ptt-waveform-incoming-unplayed: #ced0d1 !important;
    --ptt-waveform-incoming-unplayed-rgb: 206, 208, 209 !important;
    --ptt-waveform-outgoing-unplayed: #b2caa4 !important;
    --ptt-waveform-outgoing-unplayed-rgb: 178, 202, 164 !important;
    --ptt-waveform-preview-played: #858a8d !important;
    --ptt-waveform-preview-played-rgb: 133, 138, 141 !important;
    --ptt-waveform-incoming-played: #858a8d !important;
    --ptt-waveform-incoming-played-rgb: 133, 138, 141 !important;
    --ptt-waveform-outgoing-played: #748670 !important;
    --ptt-waveform-outgoing-played-rgb: 116, 134, 112 !important;
    --ptt-gray: rgba(48, 48, 48, 0.7) !important;
    --ptt-gray-rgb: 48, 48, 48 !important;
    --ptt-gray-badge: rgba(51, 51, 51, 0.5) !important;
    --ptt-gray-badge-rgb: 51, 51, 51 !important;
    --ptt-green: #09d261 !important;
    --ptt-green-rgb: 9, 210, 97 !important;
    --ptt-message-blue: #039be5 !important;
    --ptt-message-blue-rgb: 3, 155, 229 !important;
    --ptt-text: #fff !important;
    --ptt-text-rgb: 255, 255, 255 !important;
    --quick-action-button: #fff !important;
    --quick-action-button-rgb: 255, 255, 255 !important;
    --quick-action-button-background: rgba(0, 0, 0, 0.14) !important;
    --quick-action-button-background-rgb: 0, 0, 0 !important;
    --quoted-message-text: rgba(0, 0, 0, 0.6) !important;
    --quoted-message-text-rgb: 0, 0, 0 !important;
    --rich-text-panel-background: #f0f0f0 !important;
    --rich-text-panel-background-rgb: 240, 240, 240 !important;
    --search-container-background: #f6f6f6 !important;
    --search-container-background-rgb: 246, 246, 246 !important;
    --search-input-background: #fff !important;
    --search-input-background-rgb: 255, 255, 255 !important;
    --search-input-container-background: transparent !important;
    --search-input-container-background-rgb: 0, 0, 0 !important;
    --search-input-container-background-active: #fff !important;
    --search-input-container-background-active-rgb: 255, 255, 255 !important;
    --secondary: rgba(0, 0, 0, 0.6) !important;
    --secondary-rgb: 0, 0, 0 !important;
    --secondary-light: rgba(0, 0, 0, 0.25) !important;
    --secondary-light-rgb: 0, 0, 0 !important;
    --secondary-lighter: rgba(0, 0, 0, 0.45) !important;
    --secondary-lighter-rgb: 0, 0, 0 !important;
    --secondary-stronger: rgba(0, 0, 0, 0.8) !important;
    --secondary-stronger-rgb: 0, 0, 0 !important;
    --security-icon-background: #d3ede6 !important;
    --security-icon-background-rgb: 211, 237, 230 !important;
    --security-icon-lock: #1fc4b1 !important;
    --security-icon-lock-rgb: 31, 196, 177 !important;
    --security-icon-shield: #f0faf7 !important;
    --security-icon-shield-rgb: 240, 250, 247 !important;
    --shadow: #000 !important;
    --shadow-rgb: 0, 0, 0 !important;
    --shadow-light: rgba(0, 0, 0, 0.08) !important;
    --shadow-light-rgb: 0, 0, 0 !important;
    --spinner-default: #ccc !important;
    --spinner-default-rgb: 204, 204, 204 !important;
    --spinner-highlight: rgba(7, 188, 76, 0.7) !important;
    --spinner-highlight-rgb: 7, 188, 76 !important;
    --spinner-incoming: #b3b3b3 !important;
    --spinner-incoming-rgb: 179, 179, 179 !important;
    --spinner-outgoing: #9aae8b !important;
    --spinner-outgoing-rgb: 154, 174, 139 !important;
    --startup-background: #f0f0f0 !important;
    --startup-background-rgb: 240, 240, 240 !important;
    --startup-icon: #bfbfbf !important;
    --startup-icon-rgb: 191, 191, 191 !important;
    --status-background: #000 !important;
    --status-background-rgb: 0, 0, 0 !important;
    --status-background-hover: #262626 !important;
    --status-background-hover-rgb: 38, 38, 38 !important;
    --status-primary: #fff !important;
    --status-primary-rgb: 255, 255, 255 !important;
    --status-secondary: hsla(0, 0%, 100%, 0.55) !important;
    --status-secondary-rgb: 255, 255, 255 !important;
    --status-secondary-stronger: #b3b3b3 !important;
    --status-secondary-stronger-rgb: 179, 179, 179 !important;
    --status-ring-read: #bbbec4 !important;
    --status-ring-read-rgb: 187, 190, 196 !important;
    --status-thumbnail-background: #cacaca !important;
    --status-thumbnail-background-rgb: 202, 202, 202 !important;
    --sticker-button-background: #e6e6e6 !important;
    --sticker-button-background-rgb: 230, 230, 230 !important;
    --success: #07bc4c !important;
    --success-rgb: 7, 188, 76 !important;
    --suspicious-background: rgba(244, 67, 54, 0.8) !important;
    --suspicious-background-rgb: 244, 67, 54 !important;
    --system-message-background: rgba(225, 245, 254, 0.92) !important;
    --system-message-background-rgb: 225, 245, 254 !important;
    --system-message-text: rgba(0, 0, 0, 0.88) !important;
    --system-message-text-rgb: 0, 0, 0 !important;
    --teal-hover: #00ab97 !important;
    --teal-hover-rgb: 0, 171, 151 !important;
    --teal-pale: #5fb9b0 !important;
    --teal-pale-rgb: 95, 185, 176 !important;
    --text-muted: rgba(0, 0, 0, 0.45) !important;
    --text-muted-rgb: 0, 0, 0 !important;
    --thumb-border-active: #fff !important;
    --thumb-border-active-rgb: 255, 255, 255 !important;
    --thumb-border-viewer-active: #ccc !important;
    --thumb-border-viewer-active-rgb: 204, 204, 204 !important;
    --toast-background: rgba(0, 0, 0, 0.82) !important;
    --toast-background-rgb: 0, 0, 0 !important;
    --tooltip-text: #fff !important;
    --tooltip-text-rgb: 255, 255, 255 !important;
    --tooltip-background: #595959 !important;
    --tooltip-background-rgb: 89, 89, 89 !important;
    --typing: #07bc4c !important;
    --typing-rgb: 7, 188, 76 !important;
    --unread-background: #fff !important;
    --unread-background-rgb: 255, 255, 255 !important;
    --unread-bar-background: hsla(0, 0%, 100%, 0.25) !important;
    --unread-bar-background-rgb: 255, 255, 255 !important;
    --unread-timestamp: rgba(0, 0, 0, 0.8) !important;
    --unread-timestamp-rgb: 0, 0, 0 !important;
    --unread-marker-background: #06d755 !important;
    --unread-marker-background-rgb: 6, 215, 85 !important;
    --unread-marker-text: #fff !important;
    --unread-marker-text-rgb: 255, 255, 255 !important;
    --vcard-placeholder-background: rgba(0, 0, 0, 0.04) !important;
    --vcard-placeholder-background-rgb: 0, 0, 0 !important;
    --vcard-placeholder-background-deeper: rgba(0, 0, 0, 0.08) !important;
    --vcard-placeholder-background-deeper-rgb: 0, 0, 0 !important;
    --video-player-background: #000 !important;
    --video-player-background-rgb: 0, 0, 0 !important;
    --video-primary: #fff !important;
    --video-primary-rgb: 255, 255, 255 !important;
    --voip-accept-background: #2ec452 !important;
    --voip-accept-background-rgb: 46, 196, 82 !important;
    --voip-background: #262626 !important;
    --voip-background-rgb: 38, 38, 38 !important;
    --voip-background-deep: #000 !important;
    --voip-background-deep-rgb: 0, 0, 0 !important;
    --voip-video-background: #242424 !important;
    --voip-video-background-rgb: 36, 36, 36 !important;
    --voip-controls-background: #2d2d2d !important;
    --voip-controls-background-rgb: 45, 45, 45 !important;
    --voip-primary: #fff !important;
    --voip-primary-rgb: 255, 255, 255 !important;
    --voip-alternative: #000 !important;
    --voip-alternative-rgb: 0, 0, 0 !important;
    --voip-reject-background: #ff3b30 !important;
    --voip-reject-background-rgb: 255, 59, 48 !important;
    --voip-disabled-background: #222 !important;
    --voip-disabled-background-rgb: 34, 34, 34 !important;
    --wallpaper-background: #e5ddd5 !important;
    --wallpaper-background-rgb: 229, 221, 213 !important;
    --wallpaper-thumb-border-active: #00a5f4 !important;
    --wallpaper-thumb-border-active-rgb: 0, 165, 244 !important;
    --wallpaper-thumb-border-hover: #fff !important;
    --wallpaper-thumb-border-hover-rgb: 255, 255, 255 !important;
    --win32-title-primary: #fff !important;
    --win32-title-primary-rgb: 255, 255, 255 !important;
    --reactions-bubble-border: rgba(0, 0, 0, 0.05) !important;
    --reactions-bubble-border-rgb: 0, 0, 0 !important;
    --reactions-bubble-counter: rgba(60, 60, 67, 0.6) !important;
    --reactions-bubble-counter-rgb: 60, 60, 67 !important;
    --reactions-details-background: #fff !important;
    --reactions-details-background-rgb: 255, 255, 255 !important;
    --text-primary-strong: #000 !important;
    --text-primary-strong-rgb: 0, 0, 0 !important;
    --text-secondary-lighter: rgba(0, 0, 0, 0.45) !important;
    --text-secondary-lighter-rgb: 0, 0, 0 !important;
    --text-medium-emphasis: #627885 !important;
    --text-medium-emphasis-rgb: 98, 120, 133 !important;
    --icon-medium-emphasis: #7e98a8 !important;
    --icon-medium-emphasis-rgb: 126, 152, 168 !important;
    --icon-high-emphasis: #00a884 !important;
    --icon-high-emphasis-rgb: 0, 168, 132 !important;
    --switch-button-color: #ececec !important;
    --switch-button-color-rgb: 236, 236, 236 !important;
    --switch-button-checked-color: #018579 !important;
    --switch-button-checked-color-rgb: 1, 133, 121 !important;
    --switch-track-color: #b2b2b2 !important;
    --switch-track-color-rgb: 178, 178, 178 !important;
    --switch-track-checked-color: #b2dbd7 !important;
    --switch-track-checked-color-rgb: 178, 219, 215 !important;
}
